body{
    background-color: black;
}

.btn{
    background-color: black;
    width: 140px;
    height: 70px;
    border-radius: 100px;
    margin: 50px 50px 30px 50px;
    border: 2px solid rgb(66, 66, 66);
}


.text{
    background-color: rgb(66, 66, 66);
    width: 68px;
    height: 68px;
    border-radius: 100px;
    position: relative;
    top: .5px;
    animation: 10s ease forwards;
    border: 1px solid rgb(17, 17, 17);
    transition: .5s;
}

.text-inner{
    background-color: rgb(66, 66, 66);
    position: relative;
    top: .5px;
    right: -6.5px;
    top: 6.8px;
    width: 53px;
    height: 53px;
    border-radius: 100px;
    border: 1px solid rgb(17, 17, 17);
    box-shadow: 0 0 15px ;
    transition: .5s;
}

.text p{
    text-align: center;
    justify-content: center;
    padding: 14px 0px 0px 2px;
    font-family: sans-serif;
    color: rgb(17, 17, 17);
    font-weight: bolder;
    font-size: 8px;
    letter-spacing: 2px;
    pointer-events: none;
    filter: blur(0.2px);
    transition: .5s;
}


.input{
    color: rgb(66, 66, 66);
    background-color: black;
}


.content{
    color: rgb(66, 66, 66);
    margin-bottom: 20px;
    margin-left: 10px;
    font-weight: bolder;
}